body {
  background-image: url('https://www.yayskool.com/images/school/bethany-school-visakhapatnam-471716938.png');
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.jumbotron{
  background-color:rgba(90, 122, 162, 0.85)
}
